body {
    font-family: Arial;
    background-color: black;
}

.chatcontainer {
    width: 350px;
    margin: 20px auto;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.chatbox {
    height: 300px;
    border: 1px solid black;
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.message {
    background-color: blue;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
}
